body {
	margin: 0px;
	font-family: 'Muli', sans-serif;
	color: #434b4c;
	background-color: #F5F5F5;
}

nav {
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 35px;
	background-color: #128fa9;

}

nav h1 {
	margin: 0px;
	padding-left: 10%;
	font-family: 'Lobster', cursive, sans-serif;
	font-size: 35px;
	display: block;
	color: #d7e3e5;
}

nav h1 a {
	text-decoration: none;
	color: #d7e3e5;
}

td, th {
	width: 200px;
	height: 20px;
}

td {
	cursor: pointer;
	padding-right: 10px;
}

button {
  background: #128fa9;
  border-radius: 3px;
  color: #d7e3e5;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1fb2cf;
  text-decoration: none;
  border: none;
}

button:focus {
	outline: none;
}

input {
	color: #434b4c;
	font-family: 'Muli', sans-serif;
	border-radius: 5px;
	width: 80%;
}

input:focus {
	border-radius: 5px;
	border: 2px solid #128fa9;
	outline: none;
	border-style: solid;
}

input::selection {
	background: #d7e3e5;
	border-radius: 5px;
}

tr:nth-child(even) {
    background-color: #d7e3e5;
}

footer {
	height: 75px;
}

h2 button {
	margin-left: 15px;
	cursor: pointer;
}

textarea {
	border-radius: 5px;
	border: 1px solid #d4d4d4;

}

textarea:focus {
	border: 2px solid #128fa9;
	outline: none;
	border-radius: 5px;
}

#main {
	width: 80%;
	margin: auto;
}

.title-section input {
	height: 30px;
	font-size: 30px;
}

#locations {
	display: flex;
}

#location-section img {
	height: 230px;
}

#location-section #booked img {
	height: 230px;
}

#location-section {
	display: block;
}

.choice-img {
	background-color: #d7e3e5;
	margin: 15px 0;
	width: 345px;
	height: 230px;
	border-radius: 5px;
}

.choice-img img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}


#vchoice-edit-mode {
	display: flex;
	width: 80%;
	margin: auto;
}

#choice-inputs {
	display: flex;
}

#location-section .vacation-choice .heart img {
	height: 20px;
	width: 20px;
	padding-right: 8px;
	vertical-align: top;
}

#location-section .vacation-choice .heart {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;	
}

.vacation-choice {
	margin-right: 15px;
	width: 345px;
}

.vacation-choice input {
	height: 20px;
	font-size: 15px;
}

.vacation-choice h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.price {
	color: #999;
	float: right;
}

#booked-button button {
	margin-top: 15px;
	cursor: pointer;
}

#attendees-section, #packing-section {
	width: 80%;
	margin: 0;
}

#attendees-section td input, #packing-section td input {
	height: 20px;
	width: 100%;
	margin-right: 15px;
}

#attendees-section input, #packing-section input {
	height: 20px;
	width: 25%;
	margin-right: 15px;
	font-size: 15px;
}

#attendees-section button, #packing-section button {
	margin-top: 15px;
	cursor: pointer;
}

#attendees-section th, #packing-section th {
	text-align: left;
}

#attendees-section table, #packing-section table {
	width: 80%;
	min-width: 500px;
	max-width: 720px;
	border-spacing: 0;
}

#booked {
	background-color: #e3dfe1;
	height: 200px;
	width: 100%;
	display: flex;
	overflow: hidden;
	border-radius: 5px;
}

#details-section textarea {
	width: 700px;
	height: 200px;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	resize: none;
}

#details-section textarea::selection {
	background: #d7e3e5;
}

#details-section button {
	display: block;
	margin-top: 15px;
}

#details-section p {
	white-space: pre-wrap;
	width: 700px;
}

.tripply-main {
	font-family: 'Lobster', cursive, sans-serif;
	/*width: 80%;*/
	/*margin: auto;*/
	/*margin-top: 20%;*/
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
}

.tripply-main h1 {
	font-size: 150px;
	text-align: center;
	color: #128fa9;
	margin-bottom: 0;
	margin-top: 0;
}

.tripply-main p {
	font-size: 40px;
}

.tripply-main button {
	height: 50px;
	width: 200px;
	cursor: pointer;
	font-family: 'Muli', sans-serif;
}





