body {
	margin: 0px;
	font-family: sans-serif;
	color: #434b4c;
	background-color: #F5F5F5;
}

nav {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #d7e3e5;
	margin-bottom: 35px;
}

nav h1 {
	margin: 0px;
	padding-left: 10%;
	font-family: 'Lobster', cursive, sans-serif;
	font-size: 36px;
	/*color: #e3dfe1;*/
	color: #128fa9;
	display: block;
}

td {
	width: 200px;
	height: 20px;
}

input {
	width: 80%;
}

input:focus {
	outline: 3px solid #128fa9;
	/*outline: none;*/
}

#main {
	width: 80%;
	margin: auto;
}

.title-section button {
	height: 20px;
}

#locations {
	display: flex;
}

#location-section img {
	height: 230px;
}

#location-section {
	display: block;
}

.choice-img {
	background-color: #d7e3e5;
	margin: 15px 0;
	width: 345px;
	height: 230px;
}

.choice-img img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#vchoice-edit-mode {
	display: flex;
	width: 80%;
	margin: auto;
}

#choice-inputs {
	display: flex;
}

#choice-inputs input {
	width: 345px;
	margin: 15px;
}

#location-section .vacation-choice .heart img {
	height: 20px;
	width: 20px;
	padding-right: 8px;
	vertical-align: top;
}

#location-section .vacation-choice .heart {
	margin-top: 15px;
	font-size: 20px;	
}

.vacation-choice {
	margin-right: 15px;
}

.vacation-choice h3 {
	/*padding-left: 15px;*/
	margin-top: 0px;
	margin-bottom: 0px;
}

.price {
	color: #999;
	float: right;
}

#attendees-section, #packing-section {
	width: 80%;
	margin: 0;
}

#attendees-section th, #packing-section th {
	text-align: left;
}

#attendees-section table, #packing-section table {
	width: 80%;
}

#booked {
	background-color: #e3dfe1;
	height: 200px;
	width: 100%;
	display: flex;
	overflow: hidden;

}

#booked img {
	height: inherit;
}

#details-section textarea {
	width: 700px;
	height: 200px;

}

textarea:focus {
	border: 3px solid #128fa9;
	outline: none;
}

#details-section p {
	white-space: pre-wrap;
	width: 700px;
}

.tripply-main {
	width: 60%;
	margin: auto;
}

.tripply-main h1 {
	font-family: 'Lobster', cursive, sans-serif;
	font-size: 150px;
	text-align: center;
	color: #128fa9;
}

footer {
	height: 75px;
}

